<!DOCTYPE html>
<html lang="en">
<head th:replace="head"></head>
<body>
	<!-- Navigation-->
	<nav th:replace="nav"></nav>
	<!-- Product section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 my-5" th:object="${product}">
			<div class="row gx-4 gx-lg-5 align-items-center">
				<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
						src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." height="200" width="200"/></div>
				<div class="col-md-6">
					<div class="small mb-1" th:text="${product.id}">id</div>
					<h1 class="display-5 fw-bolder" th:text="${product.name}">nombre</h1>
					<div class="fs-5 mb-5">
						<span class="text-decoration-line-through" th:text="${product.price} + €">precio</span>
					</div>
					<p class="lead"></p>
					<div class="d-flex">
						<input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
							style="max-width: 3rem" />
						<button class="btn btn-outline-dark flex-shrink-0" type="button">
							Añadir al carrito
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer-->
	<footer th:replace="footer"></footer>
</body>
</html>